<div class="alert alert-dismissible fade show" id="alert" role="alert" style="display: none;">
    <strong id="title">Holy guacamole!</strong> <span id="msg"> should check in on some of those fields below.</span>
    <button type="button" class="close" id="closeModal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>