




<div class="modal fade" id="Modal4" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Selecione o Sabor</h1>
          <button type="button" class="btn-close"  id="closeModalSabor"></button>
        </div>
        <div class="modal-body">
            <div name="List1" >
               <!--  <div class="row">
                    <div class="col-sm-10" id="SearchBox">
                        <input class="form-control Sabores" type="text" placeholder="Digite o sabor" name="Sabores">
                    </div>
                    
                    <button class="btn btn-primary col-sm-1 form-control" name="Sabores" id="search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </button>
    
                </div> -->
    
                <br>
    
                  <div class="row">
                    <div class="table-responsive" style="height: 25vh;">
                        <table class="table table-hover tablesorter table-sm table-bordered m-0 tbSabores" id="listaClientes">
                            <thead>
                                <tr class="listarCabecalho" style="text-align: center;">
                                  <th class="col-xs text-center header" scope="col">Código</th>
                                  <th class="col-xs header headerSortDown" scope="col">Nome</th>
                                  <th class="col-xs header headerSortDown" scope="col">Valor</th>
                                  <th class="col-xs header headerSortDown" scope="col"></th>
                                </tr>
                            </thead>
                          <tbody id="tbSabores" style="text-align: center;">
    
                            
                            
                           
                          </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>	
                </div>	
              </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"  id="btnSaborConcluir">Concluir</button> 
        </div>
      </div>
    </div>
  </div>
  











