<div class="modal fade" id="ModalHistoricoCliente" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Histórico de Vendas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div name="List1" >
                <div class="row">
                    <div class="table-responsive" style="height: 25vh;">
                        <table class="table table-hover tablesorter table-sm table-bordered m-0 tbHistorico" >
                            <thead>
                                <tr class="listarCabecalho" style="text-align: center;">
                                  <th class="col-xs text-center header" scope="col">Pedido</th>
                                  <th class="col-xs header headerSortDown" scope="col">Cliente</th>
                                  <th class="col-xs header headerSortDown" scope="col">Valor</th>
                                  <th class="col-xs header headerSortDown" scope="col">Data</th>
                                </tr>
                            </thead>
                          <tbody id="tbHistorico" style="text-align: center;">
    
                            
                            
                           
                          </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>	
                </div>	
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnVoltarListaCliente">Voltar</button>
        </div>
      </div>
    </div>
  </div>
  
 












