




<div class="modal fade" id="Modal3" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Selecione o Complemento</h1>
          <button type="button" class="btn-close" id="closeModalComplemento"></button>
        </div>
        <div class="modal-body">
            <div name="List1" >
        
    
                <br>
    
                  <div class="row">
                    <div class="table-responsive" style="height: 25vh;">
                        <table class="table table-hover tablesorter table-sm table-bordered m-0 tbComplemento" id="listaClientes">
                            <thead>
                                <tr class="listarCabecalho" style="text-align: center;">
                                  <th class="col-xs text-center header" scope="col">Código</th>
                                  <th class="col-xs header headerSortDown" scope="col">Nome</th>
                                  <th class="col-xs header headerSortDown" scope="col">Valor</th>
                                  <th class="col-xs header headerSortDown" scope="col"></th>
                                </tr>
                            </thead>
                          <tbody id="tbComplemento" style="text-align: center;">
    
                            
                            
                           
                          </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>	
                </div>	
              </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"  id="btnComplementoConcluir">Concluir</button>
        </div>
      </div>
    </div>
  </div>
  











